.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
}

.header span{
	color: #ff0000;
}

.pokedex-grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

.notFound img {
	width: 600px;
}
.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
}