.poke-card{
	display: flex;
	background-color: #111;
	box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
	align-items: center;
	border-radius: 7px;
	margin: .5rem;
}

.poke-img img{
	max-width: 80px;
	margin-right: .5rem;
}

.poke-container {
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.poke-container h2 {
	text-transform: capitalize;
}

.poke-types {
	display: flex;
	flex-direction: row;
	text-transform: capitalize;
}
.poke-types .type p{
	margin: 5px;
}
